
<!-- Se llama al componente navbar-home para que esté presente en todas las pantallas del home -->
<div class="nav">
  <app-navbar-home></app-navbar-home>
</div>

<!-- Información de la app -->
<div class="contenedor">
  <div class="container" id="border">
    <div class="contImg">
      <img id="logo" src="../../../assets/logotipo ONG.png">
    </div>
    <div id="border">
      <h2><strong>Información General de la aplicación</strong></h2>
      "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
      I will give you a complete account of the system, and expound the actual teachings of the great explorer of
      the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
      because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
      that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
      because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
      To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
       But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences,
       or one who avoids a pain that produces no resultant pleasure?"
    </div>
  </div>
</div>
