<div class="container" id="border">
  <div>
    <button>Editar perfil</button>
  </div>
  <!--Principal -->
  <div class="primera">
    <div class="foto ">
      <h3>foto</h3>
    </div>
    <div class="nombre">
      <h2>{{voluntario.nombre}}</h2>
    </div>
  </div>
  <!--Informacion de habilidades-->
  <div class="seccion">>
    <div class="tabla">
      <h1>Habilidades</h1>
      <table class="table table-light">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Area</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let con of conocimientos">
            <td>{{con.nombre}}</td>
            <td>{{con.area}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Informacion media-->
  <div class="seccionx">
    <h1>Fecha de creacion</h1>
    <textarea class="normal"></textarea>
    <h1>Correo</h1>
    <textarea class="normal">{{voluntario.correo}}</textarea>
  </div>
  <div class="seccion">>
    <div class="tabla">
      <h1>Telefonos</h1>
      <table class="table table-light">
        <thead>
          <tr>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tele of telefonos">
            <td>{{tele}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Ubicacion -->
  <h1>Ubicación </h1>
  <div class="ubicacion">

  </div>
  <!--Informacion final-->
  <div class="seccion">>
    <div class="tabla">
      <h1>Idiomas</h1>
      <table class="table table-light">
        <thead>
          <tr>
            <th>Idiomas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let idi of idim">
            <td>{{idi}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="seccionx">
    <h1>Fecha nacimiento</h1>
    <textarea class="normal">{{voluntario.fechaNacimiento}}</textarea>
  </div>

</div>
