<div class="contenedor">

  <button>Editar perfil</button>

  <!--Principal -->
  <div class="primera">
    <div class="foto ">
    </div>
    <div class="nombre">
      <h1>Camilo Andres Moreno Colorado</h1>
    </div>
  </div>
  <!--Informacion de habilidades-->
  <div>
    <h1>estudios</h1>
    <textarea>

    </textarea>
  </div>
  <div>
    <h1>habilidades</h1>
    <textarea>

    </textarea>
  </div>
  <!--Informacion media-->
  <div>
    <h1>Fecha de creacion</h1>
    <textarea class="normal"></textarea>
    <h1>correo</h1>
    <textarea class="normal"></textarea>
    <h1>telefonos</h1>
    <textarea class="normal"></textarea>
  </div>
  <!--Ubicacion -->
  <div class="ubicacion">

  </div>
  <!--Informacion final-->
  <div>
    <h1>Idiomas</h1>
    <textarea class="normal"></textarea>
    <h1>fecha nacimiento</h1>
    <textarea class="normal"></textarea>
  </div>
</div>
