.center * {
  text-align: center;
}

.info {
  color: blue;
}

.vcenter {
  display: block;
  margin-top: auto;
}

.centerTable {
  margin-right: auto;
  margin-left: auto;
}

.seleccion {
  font-size: 18px;
  text-align: center;
  margin-top: 30%;
}

.big {
  font-size: 35px;
  text-align: left;
}

.not-visible {
  background-color: #00000000;
  border-color: #00000000;
}

a {
  cursor: pointer;
}

.btext {
  font-size: large;
}

.wtable {
  width: 80%;
}

#border {
  border-radius: 30px;border: solid;padding: 30px;margin-top: 3%;
}

label, h1 {
  font-weight: bold;
}

.big {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small {
  max-width: 80px;
  max-height: 80px;
}

.xsmall {
  max-width: 40px;
  max-height: 40px;
}

.right {
  text-align: right;
}
