
<!-- Contenedor del modulo modulo-chat -->
<div class="container" id="border">

  <div class="row">
    <div class="col-sm-4">
      <!-- Representa el componente de las conversaciones mostrado a la izquierda -->
      <app-conversaciones></app-conversaciones>
    </div>

    <!-- Representa el componente de los mensajes de una conversación, el cual varia segun el id de la conversación -->
    <div class="col-sm-8">
      <div class="seleccion" *ngIf="!select">Selecciona una conversación</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
