<div class="contenedor2">

  <button>Editar perfil</button>

  <!--Principal -->
  <div class="primera">
    <div class="foto ">
    </div>
    <div class="nombre">
      <h1>ONG super global </h1>
    </div>
  </div>
  <!--Informacion de habilidades-->
  <div>
    <h1>Mision</h1>
    <textarea>

    </textarea>
  </div>
  <div>
    <h1>Vision</h1>
    <textarea>

    </textarea>
  </div>
  <!--Informacion media-->
  <div>
    <h1>Fecha de creacion</h1>
    <textarea class="normal"></textarea>
    <h1>correo</h1>
    <textarea class="normal"></textarea>
    <h1>telefonos</h1>
    <textarea class="normal"></textarea>
  </div>
  <!--Ubicacion -->
  <div class="ubicacion">

  </div>

</div>
