
<!-- Contenedor del componente navbar-voluntario -->
<div class="nav">
  <div class="container">
    <div class="row">

      <!-- Logo de la aplicación -->
      <div class="col-sm-1">
        <a [routerLink]="['/voluntario/recomendaciones-voluntario']"><img id="logo" src="../../../assets/logotipo ONG.png"></a>
      </div>

      <!-- Enlaces de navegación -->
      <div class="col-sm-7 vcenter">
        <ul class="menu">
          <li [ngClass]="{'selected': selected[0] == true}"><a [routerLink] = "['/voluntario/recomendaciones-voluntario']">Inicio</a></li>
          <li [ngClass]="{'selected': selected[1] == true}"><a [routerLink] = "['/voluntario/mi-perfil']">Mi Perfil</a></li>
          <li [ngClass]="{'selected': selected[2] == true}"><a [routerLink] = "['/voluntario/seguidos']">Mis Suscripciones</a></li>
          <li [ngClass]="{'selected': selected[3] == true}"><a [routerLink] = "['/voluntario/participaciones']">Mis Participaciones</a></li>
        </ul>
      </div>

      <!-- Iconos de navegación -->
      <div class="col-sm-4 vcenter">
        <ul class="icon-menu">
          <li><a [routerLink]="['/voluntario/buscar-iniciativa']"><mat-icon aria-hidden="false" aria-label="add user">search</mat-icon></a></li>
          <li><a [routerLink]="['/voluntario/chat']"><mat-icon aria-hidden="false" aria-label="add user">forum</mat-icon></a></li>
          <li class="col-sm-2">
            <div class="row">
              <a class="col-sm-1" [routerLink]="['/voluntario/ver-notificaciones']"><mat-icon aria-hidden="false" aria-label="add user">notifications</mat-icon></a>
              <a *ngIf="notificacion_pendiente" class="col-sm-1" style="color: red;" [routerLink]="['/voluntario/ver-notificaciones']"><mat-icon aria-hidden="false" aria-label="add user">new_releases</mat-icon></a>
            </div>
          </li>
          <li><a (click)="logout()"><mat-icon aria-hidden="false" aria-label="add user">logout</mat-icon></a></li>
        </ul>
      </div>

    </div>
  </div>



</div>
