<!-- Contenedor del componente de Ver Notificaciones -->
<div class="container cont" id="border">
    <!-- Elemento Mostrar el buzon -->
    <div class="row">
        <h1 class="col-sm-12">Mi buzón</h1>
        <div *ngFor="let aux of auxiliares" class="container">
            <div class="form-group row container" id="border" style='text-align: center;'
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <div class="col-sm-1">
                    <a (click)="verOng(aux)"> <img [src]="aux.rutaImagenOng"> </a>  
                </div>
                <!-- Elemento para ver una notificacion -->
                <mat-icon _ngcontent-via-c61="" role="img" aria-hidden="false" aria-label="add user"
                    class="mat-icon notranslate material-icons mat-icon-no-color" data-mat-icon-type="font">
                    notifications</mat-icon>
                <p class="titulo">Nombre de la Ong:</p>
                <a (click)="verOng(aux)"> <label class="col-sm-2 col-form-label" for="nombreVol">{{aux.nombreOng}} </label> </a>
                <p>Nombre de la iniciativa:</p>
                <a (click)="verIniciativa(aux)"><label class="col-sm-2 col-form-label" for="nombreVol">{{aux.nombreIniciativa}} </label></a>
                <p class="col-sm-1">Estado:</p>
                <p *ngIf="!aux.contestado">La ONG aun no ha contestado</p>
                <!-- Elemento para ver el estado de una notificacion -->
                <div *ngIf="aux.contestado">
                    <p *ngIf="aux.aceptado">Has Sido Aceptado!</p>
                    <p *ngIf="!aux.aceptado">NO Has Sido Aceptado!</p>
                </div>
            </div>
        </div>
    </div>

</div>
