<!-- Contenedor del componente ver-iniciativa -->
<div class="container" id="border">

    <!-- Elemento que muestra el nombre de la iniciativa y se oculta cuando la Ong que la crea no está en la pantalla -->
    <div class="center" [hidden]="!creatorOng">
      <h1>{{iniciativa.nombre}}</h1>
    </div>

    <!-- Elemento que muestra el nombre de la iniciativa, nombre y foto de la Ong que crea y se oculta cuando la Ong que la crea está en la pantalla -->
    <div class="flex" [hidden]='creatorOng'>
      <h1 class="">{{iniciativa.nombre}}</h1>
      <div class="flex right">
        <div class="">
          <a (click)="navOng(creador.id)"><img class="xsmall" [src] = "creador.imagenPerfil"></a>
        </div>
        <a (click)="navOng(creador.id)"><h1>{{creador.nombre}}</h1></a>
      </div>
    </div>

    <!-- Elemento que muestra la descripción de la iniciativa -->
    <div class="row">
      <label class="col-sm-2">Descripción: </label>
      <div class="col-sm-10">
        {{iniciativa.descripcion}}
      </div>
    </div>

    <!-- Elemento que muestra el promedio de calificaciones de la iniciativa solo cuando hay y ya empezó la iniciativa -->
    <div class="row" [hidden]="!empezo || iniciativa.valoraciones.length == 0">
      <label class="col-sm-2">Valoración: </label>
      <div class="col-sm-10 row">
        <div class="col-sm-1">{{puntaje}}</div>
        <div class="stars-outer">
          <div class="stars-inner" id="estrella"></div>
        </div>
      </div>
    </div>

    <!-- Elemento que muestra la cantidad de voluntarios (mínima y máxima) de una iniciativa -->
    <div class="row">
      <label class="col-sm-3">Cantidad de voluntarios de: </label>
      <div class="col-sm-1">
        {{iniciativa.cantidadMinVoluntarios}}
      </div>
      <label class="col-sm-1">a: </label>
      <div class="col-sm-1">
        {{iniciativa.cantidadMaxVoluntarios}}
      </div>
    </div>

    <!-- Elemento que muestra las fechas (de inicio y fin) de la iniciativa -->
    <div class="row">
      <label class="col-sm-2">Fecha de Inicio: </label>
      <div class="col-sm-2">
        {{iniciativa.fechaInicio}}
      </div>
      <label class="col-sm-2">Fecha de Finalización: </label>
      <div class="col-sm-2">
        {{iniciativa.fechaFinalizacion}}
      </div>
    </div>

    <!-- Elemento que muestra la ubicación de la iniciativa -->
    <div class="row">
      <label class="col-sm-2">Ubicación: </label>

      <div class="col-sm-3">
        <label>País: </label>
        <br>
        {{iniciativa.ubicacion.pais}}
      </div>

      <div class="col-sm-3">
        <label>Ciudad: </label>
        <br>
        {{iniciativa.ubicacion.ciudad}}
      </div>

      <div class="col-sm-4">
        <label>Dirección: </label>
        <br>
        {{iniciativa.ubicacion.direccion}}
      </div>

      <div class="row">
        <div id="map"></div>
      </div>

    </div>

    <!-- Elemento que muestra las áreas de conocimiento de la iniciativa -->
    <div class="row">
      <label class="col-sm-2 col-form-label">Areas de conocimiento relacionadas: </label>
      <div class="col-sm-4">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let areaC of iniciativa.areasConocimientoRelacionadas">
              <td>
                {{areaC}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Elemento que muestra los idiomas deseables de la iniciativa -->
    <div class="row">
      <label class="col-sm-2 col-form-label">Idiomas deseables: </label>

      <div class="col-sm-4">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let idioma of iniciativa.idiomasDeseables">
              <td>
                {{idioma}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Elemento que muestra las imagenes de la iniciativa -->
    <div class="row">
      <label class="col-sm-2 col-form-label">Imagenes: </label>
    </div>
    <div class="margin">

      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let item of imagenes">
          <div class="picsum-img-wrapper">
            <img class="big" [src]="item">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>

    <!-- Elemento que muestra los voluntarios inscritos de la iniciativa -->
    <div class="row">
      <label class="col-sm-2 col-form-label">Voluntarios inscritos: </label>
    </div>

    <table class="table table-bordered wtable centerTable">
      <tbody>
        <tr *ngIf="iniciativa.participantes.length == 0"><td>Aún no hay voluntarios inscritos</td></tr>
        <tr *ngFor="let part of participantes">
          <td (click)="redirigir(part.id)" class="pointer">
            <div class="row">
              <img class="col-sm-2 small vcenter" [src]="part.imagenPerfil">
              <div class="col-sm-10 vcenter btext">{{part.nombre}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Elemento que muestra las calificaciones de la iniciativa y se muestra solo cuando ya empezó la iniciativa-->
    <table class="table table-bordered wtable centerTable" [hidden]="!empezo">
      <thead>
        <th>Comentarios</th>
      </thead>
      <tbody>
        <tr *ngIf="iniciativa.valoraciones.length == 0"><td>Aún no hay comentarios</td></tr>
        <tr *ngFor="let val of iniciativa.valoraciones">
          <td>
            <div class="row">
              <img class="col-sm-2 small vcenter" [src]="obtenerParticipanteById(val.idValorador).imagenPerfil">
              <div class="col-sm-10">
                <strong>{{obtenerParticipanteById(val.idValorador).nombre}}</strong>
                <br>
                {{val.comentario}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot [hidden]="!participante || comento"> <!-- Elemento que permite valorar la iniciativa a los participantes-->
        <td>
          <form (submit)="comentar()" #testForm="ngForm" ngNativeValidate>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label" for="valor">Valorar: </label>
              <div class="col-sm-5">
                <input class="form-control" max="5" min="0" name="valor" id="valor" type="number" [(ngModel)]="valoracionNueva.puntaje" required>
              </div>
              <div class="col-sm-5 info">
                La valoración debe estar entre 0 y 5
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-11">
                <input class="form-control" name="coment" id="coment" type="coment" [(ngModel)]="valoracionNueva.comentario" required placeholder="Comentar">
              </div>
              <div class="col-sm-1">
                <button class="not-visible" type='submit'><mat-icon class="big" aria-hidden="false" aria-label="add user">send</mat-icon></button>
              </div>
            </div>
          </form>
        </td>
      </tfoot>
    </table>

    <div class="row" [hidden]="isOng">
      <div class="col-sm-8" [hidden]="solicito || participante || !hayCupos">
      </div>
      <div class="col-sm-10"[hidden]="!solicito && !participante"></div>
      <!-- Botón para contactar la Ong, solo a voluntarios no inscritos -->
      <div class="col-sm-2">
        <a><button class="btn btn-primary" type="button" (click)="contactarOng()">Contactar ONG</button></a>
      </div>

      <!-- Botón para solicitar unirse, solo a voluntarios no inscritos y que no hayan mandado ya solicitud -->
      <div class="col-sm-2" [hidden]="solicito || participante || !hayCupos">
        <button (click)="solicitarUnirse()" class="btn btn-primary" type="button">Solicitar Unirse</button>
      </div>
    </div>

    <div class="row" [hidden]="!creatorOng">
      <div class="col-sm-10">
      </div>
      <!-- Botón para editar la iniciativa, solo a la Ong creadora -->
      <div class="col-sm-2">
        <a><button class="btn btn-primary" type="button" (click)="navEditar()">  Actualizar</button></a>
      </div>
    </div>

</div>
