<div class="container" id="border">

    <div class="center" [hidden]="!creatorOng">
      <h1>{{iniciativa.nombre}}</h1>
    </div>

    <div class="row" [hidden]='creatorOng'>
      <h1 class="col-sm-9">{{iniciativa.nombre}}</h1>
      <div class="col-sm-1 right">
        <img class="xsmall" [src] = "creador.imagenPerfil">
      </div>
      <h1 class="col-sm-1">{{creador.nombre}}</h1>
    </div>

    <div class="row">
      <label class="col-sm-2">Descripción: </label>
      <div class="col-sm-10">
        {{iniciativa.descripcion}}
      </div>
    </div>

    <div class="row" [hidden]="!empezo || iniciativa.valoraciones.length == 0">
      <label class="col-sm-2">Valoración: </label>
      <div class="col-sm-10 row">
        <div class="col-sm-1">{{puntaje}}</div>
        <div class="stars-outer">
          <div class="stars-inner" id="estrella"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="col-sm-3">Cantidad de voluntarios de: </label>
      <div class="col-sm-1">
        {{iniciativa.cantidadMinVoluntarios}}
      </div>
      <label class="col-sm-1">a: </label>
      <div class="col-sm-1">
        {{iniciativa.cantidadMaxVoluntarios}}
      </div>
    </div>

    <div class="row">
      <label class="col-sm-2">Fecha de Inicio: </label>
      <div class="col-sm-2">
        {{iniciativa.fechaInicio}}
      </div>
      <label class="col-sm-2">Fecha de Finalización: </label>
      <div class="col-sm-2">
        {{iniciativa.fechaFinalizacion}}
      </div>
    </div>

    <div class="row">
      <label class="col-sm-2">Ubicación: </label>

      <div class="col-sm-3">
        <label>País: </label>
        <br>
        {{iniciativa.ubicacion.pais}}
      </div>

      <div class="col-sm-3">
        <label>Ciudad: </label>
        <br>
        {{iniciativa.ubicacion.ciudad}}
      </div>

      <div class="col-sm-4">
        <label>Dirección: </label>
        <br>
        {{iniciativa.ubicacion.direccion}}
      </div>

      <div class="row">
        <div id="map"></div>
      </div>

    </div>

    <div class="row">
      <label class="col-sm-2 col-form-label">Areas de conocimiento relacionadas: </label>
      <div class="col-sm-4">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let areaC of iniciativa.areasConocimientoRelacionadas">
              <td>
                {{areaC}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <label class="col-sm-2 col-form-label">Idiomas deseables: </label>

      <div class="col-sm-4">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let idioma of iniciativa.idiomasDeseables">
              <td>
                {{idioma}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <label class="col-sm-2 col-form-label">Imagenes: </label>
    </div>

    <div class="margin">

      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let item of imagenes">
          <div class="picsum-img-wrapper">
            <img class="big" [src]="item">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>

    <div class="row">
      <label class="col-sm-2 col-form-label">Voluntarios inscritos: </label>
    </div>

    <table class="table table-bordered wtable centerTable">
      <tbody>
        <tr *ngFor="let part of participantes">
          <td>
            <div class="row">
              <img class="col-sm-2 small vcenter" [src]="part.imagenPerfil">
              <div class="col-sm-10 vcenter btext">{{part.nombre}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered wtable centerTable" [hidden]="!empezo">
      <thead>
        <th>Comentarios</th>
      </thead>
      <tbody>
        <tr *ngFor="let val of iniciativa.valoraciones">
          <td>
            <div class="row">
              <img class="col-sm-2 small vcenter" [src]="obtenerParticipanteById(val.idValorador).imagenPerfil">
              <div class="col-sm-10">
                <strong>{{obtenerParticipanteById(val.idValorador).nombre}}</strong>
                <br>
                {{val.comentario}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot [hidden]="!participante || comento">
        <td>
          <form (submit)="comentar()" #testForm="ngForm" ngNativeValidate>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label" for="valor">Valorar: </label>
              <div class="col-sm-5">
                <input class="form-control" max="5" min="0" name="valor" id="valor" type="number" [(ngModel)]="valoracionNueva.puntaje" required>
              </div>
              <div class="col-sm-5 info">
                La valoración debe estar entre 0 y 5
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-11">
                <input class="form-control" name="coment" id="coment" type="coment" [(ngModel)]="valoracionNueva.comentario" required placeholder="Comentar">
              </div>
              <div class="col-sm-1">
                <button class="not-visible" type='submit'><mat-icon class="big" aria-hidden="false" aria-label="add user">send</mat-icon></button>
              </div>
            </div>
          </form>
        </td>
      </tfoot>
    </table>

    <div class="row" [hidden]="isOng">
      <div class="col-sm-8" [hidden]="solicito || participante || !hayCupos">
      </div>
      <div class="col-sm-10"[hidden]="!solicito && !participante"></div>
      <div class="col-sm-2">
        <a><button class="btn btn-primary" type="button">Contactar ONG</button></a>
      </div>

      <div class="col-sm-2" [hidden]="solicito || participante || !hayCupos">
        <button (click)="solicitarUnirse()" class="btn btn-primary" type="button">Solicitar Unirse</button>
      </div>
    </div>

    <div class="row" [hidden]="!creatorOng">
      <div class="col-sm-10">
      </div>
      <div class="col-sm-2">
        <a><button class="btn btn-primary" type="button">Editar Iniciativa</button></a>
      </div>
    </div>

</div>
