#border {
  border-radius: 30px;border: solid;padding: 30px;margin-top: 3%;
}

textarea {
  height: 120px;
  resize: none;
}

img {
  max-width: 80px;
  max-height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

mat-icon {
  font-size: 35px;
  text-align: left;
}

