<div class="container" id="border">

    <div class="row">
        <h1 class="col-sm-12">Administrar Voluntarios</h1>

        <div *ngFor="let aux of solis" class="container">

            <div class="form-group row container" id="border" style='text-align: center;'

                style="display:flex; flex-direction: row; justify-content: center; align-items: center" *ngIf="!aux.contestado">
                <label class="col-sm-2 col-form-label" for="nombreVol">{{aux.nombreVoluntaro}} </label>

                <label class="col-sm-2 col-form-label" for="nombreIni">{{aux.nombreIniciativa}} </label>
                <button type="submit" id="buttona" (click)="aceptar(aux.id)">Aceptar</button>
                &nbsp;
                &nbsp;
                <button type="submit" id="buttonr" (click)="rechazar(aux.id)">Rechazar</button>
            </div>
        </div>
    </div>

</div>

