<!-- Contenedor del componente conversaciones -->
<div class="container">

  <!-- Representa el input text para filtrar las conversaciones segun el texto ingresado -->
  <div>
    <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="filtro" (keyup)="filtrar()"/>
  </div>

  <!-- Representa una caja scrolleable con las conversaciones -->
  <div class="slide " id="convs">

    <!-- Representa una conversación con la foto y nombre con quien se conversa y el ultimo mensaje con su fecha -->
    <a (click)="redirigir(item.id)" *ngFor="let item of conversacionesView">
      <div class="flex conversacion">
        <img [src]="item.imagen" class="perfil"/>
        <div class="nom">
          <div class="flex">
            <strong class="nombre">{{item.nombre}}</strong>
            <div class="fecha">
              {{item.fecha}}
            </div>
          </div>
          <p>{{item.mensaje}}</p>
        </div>
      </div>
    </a>

</div>
