<!-- Contenedor del navbar-home -->
<div class="nav">
  <div class="container">
    <div class="row">

      <div class="col-sm-1">
        <img id="logo" src="../../../assets/logotipo ONG.png">
      </div>

      <div class="col-sm-6 vcenter">
      </div>

      <div class="col-sm-5 vcenter">
        <ul class="menu">
          <li><a [routerLink]="['/login']">Iniciar Sesión</a></li>
          <li><a [routerLink]="['/register']">Registrarse</a></li>
        </ul>
      </div>

    </div>
  </div>



</div>
