<!-- Contenedor del componente login -->
<div class="container" id="border">
  <!-- Logo de la aplicacion -->
  <img src="../../../assets/logotipo ONG.png" [routerLink]="['']">
  <!-- Formulario donde se pide correo y contraseña -->
  <form class="formu" (ngSubmit)="doLogin()">
    <input class="inputs" type="text" [(ngModel)]="user" name="user" placeholder="correo">
    <br>
    <input class="inputs" type="password" [(ngModel)]="password" name="pass" placeholder="contraseña">
    <br>
    <div class="left">
      <a [routerLink] = "['/register']">No tienes una cuenta? Registrate</a>
    </div>
    <br>
    <!-- Boton que acciona la funcion doLogin() -->
    <button class="boton" type="submit" id="login">Login</button>
  </form>
</div>
