<form (ngSubmit)='actualizar()' #testForm="ngForm" ngNativeValidate>
    <div class="container" id="border">
        <!--Principal -->
        <div class="primera">
            <div class="foto ">
                <div class="row" *ngIf="b">
                    <img [src]='preview'>
                </div>
                <div class="picsum-img-wrapper" *ngIf="!b">
                    <img [src]="voluntario.imagenPerfil">
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="imagen" accept="image/*" name="imagen"
                        (change)="uploadImage($event)">
                    <label class="custom-file-label" for="imagen">Selecciona una imagen</label>
                </div>


            </div>
            <div class="nombre">
                <h4><input type="text" name="nombreVoluntario" [(ngModel)]="voluntario.nombre" required
                        value={{voluntario.nombre}}></h4>
            </div>
        </div>

        <!-- Elemento para ingresar las habilidades de un Voluntario -->
        <div class="seccionh">

            <h1>Habilidades:</h1>
            <div class="form-row">
                <input type="text" name="habilida" [(ngModel)]="this.habilidadNuevaNombre">
                <label class="col-form-label lable-area" for="listaAreas">Area</label>
                <select id="listaAreas" name="lista-idiomas" [(ngModel)]="this.habilidadNuevaArea">
                    <option *ngFor="let areaC of opcAreas">{{areasConoc[areaC]}}</option>
                </select>
                <a (click)="addArea()">
                    <mat-icon class="big" aria-hidden="false" aria-label="add user">add_idioma</mat-icon>
                </a>
            </div>
        </div>

        <div class="secciont">
            <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let habilidad of voluntario.habilidades">
                        <td>
                            {{habilidad.nombre}} - {{habilidad.area}}
                        </td>
                        <td class="small-td">
                            <a (click)="deleteArea(habilidad)">
                                <mat-icon class="small" aria-hidden="false" aria-label="add user">
                                    remove_circle</mat-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="error">{{errorArea}}</p>

        </div>
        <!--Informacion media-->
        <div class="seccionh">
            <h1>Teléfonos</h1>
            <div class="form-row">
                <div class="col-sm-8">

                    <input class="form-control" name="telefono" id="telefono" type="number" [(ngModel)]="nuevoTelefono"
                        name="nTelefono" placeholder="Ingrese un nuevo teléfono">

                </div>
                <div class="col-sm-2">
                    <a (click)="addTelefono()">
                        <mat-icon class="big" aria-hidden="false" aria-label="add user">add_circle</mat-icon>
                    </a>
                </div>
            </div>

        </div>

        <div class="secciont">
            <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let tel of telefonos">
                        <td>
                            {{tel}}
                        </td>
                        <td class="small-td">
                            <a (click)="deleteTelefono(tel)">
                                <mat-icon class="small" aria-hidden="false" aria-label="add user">remove_circle
                                </mat-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="error">{{errorTelefonos}}</p>

        <!--Ubicacion -->
        <div class="seccionh">
            <h1>Ubicación</h1>

            <div class="seccion">
                <h1 style="margin-right: 20px;">Pais: </h1>
                <input type="text" [(ngModel)]="voluntario.ubicacion.pais" required name="txtPais">
                <h1 style="margin-right: 10px;">Ciudad: </h1>
                <input type="text" [(ngModel)]="voluntario.ubicacion.ciudad" required name="txtCiudad">
                <h1 style="margin-right: 10px;">Dirección: </h1>
                <input type="text" [(ngModel)]="voluntario.ubicacion.direccion" required name="txtDireccion">
            </div>
        </div>

        <!--Informacion final-->

        <div class="seccionh">
            <div class="form-row">
            <h1 style="margin-right: 20px;">Idiomas:</h1>
            
            <select id="listaIdioma" name="lista-idiomas" [(ngModel)]="this.idiomaNuevo" name="lista_idioma">
                <option *ngFor="let idioma of idim">{{idiomas[idioma]}}</option>
                </select>
                <a (click)="addIdioma()">
                    <mat-icon class="big" aria-hidden="false" aria-label="add user">add_idioma</mat-icon>
                </a>
            </div>
        </div>

        <div class="secciont">
           <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let idioma of voluntario.idiomas">
                        <td>
                            {{idioma}}
                        </td>
                        <td class="small-td">
                            <a (click)="deleteIdioma(idioma)">
                                <mat-icon class="small" aria-hidden="false" aria-label="add user">
                                    remove_circle</mat-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="error">{{errorIdiomas}}</p>
        </div>

        <!--Botones de confirmacion y cancelacion -->
       
        <!-- Elemento para ingresar la fecha de nacimiento de un Voluntario -->
        <div class="seccionx">
            <h1>Fecha Nacimiento</h1>
            <input type="date" name="fechaNacimiento" [(ngModel)]="voluntario.fechaNacimiento">

        </div>
        
        <div class="seccionb">
            <button class="botonedit" (click)="cancelar()">Cancelar</button>
            <button type="submit" class="botonedit">Guardar</button>
        </div>
    </div>
</form>