<!-- Contenedor del componente mostrar-busqueda -->
<div class="container" id="border">
  <table class="table table-bordered">
    <tbody>
      <!-- Etiqueta que muetra la lista de iniciativas a mostrar -->
      <tr *ngFor="let iniciativa of iniciativas">
        <td>
          <div class="">
            <div class="row">
              <!-- Etiqueta que sirve como boton para navegar a la inciativa -->
              <div class="col-sm-1 click" (click) = 'navVerIni(iniciativa.id)'>
                <ngb-carousel>
                  <ng-template ngbSlide *ngFor="let item of iniciativa.imagenes">
                    <div class="picsum-img-wrapper">
                      <img [src]="item">
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <!-- Etiqueta que sirve como boton para navegar a la inciativa -->
              <div class="col-sm-7 click" (click) = 'navVerIni(iniciativa.id)'>
                Iniciativa: {{iniciativa.nombre}}
              </div>
              <div class="col-sm-1">
                <!-- Imagen que sirve como boton para navegar a la Ong -->
                <img (click)='navVerOng(iniciativa)' [src]="iniciativa.imagenPerfil">
              </div>
              <div class="col-sm-3">
                <!-- Etiqueta que sirve como boton para navegar a la Ong -->
                <a (click)='navVerOng(iniciativa)'>Ong: {{iniciativa.nombreOng}}</a>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2" for="fechaInicio">Descripción: </label>
              <div class="col-sm-10">
                {{iniciativa.descripcion}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 row">
                <label class="col-sm-3" for="fechaInicio">Fecha de Inicio: </label>
                <div class="col-sm-3">
                  {{iniciativa.fechaInicio}}
                </div>
              </div>
              <div class="col-sm-6 row">
                <label class="col-sm-3">Fecha de Finalización: </label>
                <div class="col-sm-3">
                  {{iniciativa.fechaFinalizacion}}
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
